bld/
boost/
build/
BUILD/
client/
cmake/
cmd-line-utils/
dbug/
Docs/
extra/
include/
libbinlogevents/
libevent/
libmysqld/
man/
mysql-test/
mysys/
mysys_ssl/
packaging/
plugin/
rapid/
regex/
scripts/
source_downloads/
sql/
strings/
support-files/
testclients/
unittest/
vio/
win/
zlib/
CMakeLists.txt
config.h.cmake
configure.cmake
COPYING
INSTALL
VERSION
.vscode/
.gitreview
Doxyfile-perfschema
libservices/
sql-common/
libmysql/
libbinlogstandalone/